apiVersion: v1
kind: Deployment
metadata:
 name: deply-dev
spec:
 replicas: 2
 selector:
  matchLabels:
   app: devops-demo
 template:
  metadata:
   labels:
    app: devops-demo
  spec:
   containers:
    - name: devops-demo
      image: vittalsai278964/devops-demo:latest
      ports:
       - containerPort: 6600
 